.aboutMeWorkItem {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  width: 100%;
  margin: 2rem 0;
  white-space: pre-line;
}

.aboutMeWorkItemCircle {
  width: 220px;
  height: 220px;
  margin: 2rem 0;
  border-radius: 50%;
  z-index: 1;
  margin-bottom: -34px;
  border: #273040 solid 2px;
  border-radius: 50%;
  box-shadow: inset 0px 0px 26px rgba(134, 13, 134, 0.74),
    0 0 90px rgba(0, 0, 0, 0.8);
}

@media only screen and (max-width: 770px) {
  .aboutMeWorkItem {
    align-items: center !important;
  }
}
