.portfolio {
  background: url('../../../assets/Images/line.png') top center repeat-y #273040;
  height: 100vh;
  overflow-x: hidden;
}

.portfolioHeader {
  width: 100%;
  height: 100vh;
  text-align: center;
  margin: 0 auto;
  background: url('../../../assets/Images/lineAbout.png') top center repeat-y
    #901995;
  /* background-size: 70%; */
  position: relative;
  margin-bottom: 20%;
}

.handImg {
  position: absolute;
  top: 50%;
  right: -120px;
  margin-top: -9%;
  width: 60%;
  z-index: 6;
}

.headerTitle {
  margin-left: -325px;
  margin-top: -325px;
  width: 650px;
  height: 650px;
  position: absolute;
  top: 50%;
  left: 50%;
}

.splatterImg {
  position: absolute;
  width: 95%;
  top: 0%;
  left: 0%;
}

.smallDarkCircle {
  z-index: 2;
  width: 400px;
  height: 400px;
  margin: 190px auto;
  background: radial-gradient(circle, #000 3%, #59005d 100%);
  margin: 145px auto;
  border-radius: 50%;
  animation: morphingSmall 2s infinite;
  left: 125px;
  position: absolute;
  z-index: 5;
  box-shadow: inset 0px 0px 40px rgba(0, 0, 0, 0.2), 0 0 90px rgba(0, 0, 0, 0.8);
}

@keyframes morphingSmall {
  0% {
    border-radius: 30% 70% 70% 50% / 50% 50% 70% 70% box-shadow 15px 15px 50px
      rgba(0, 0, 0, 0.2);
  }
  25% {
    border-radius: 58% 42% 75% 45% / 76% 46% 54% 44%;
  }
  50% {
    border-radius: 50% 50% 43% 67% / 55% 47% 73% 45% box-shadow -10px -5px 50px
      rgba(0, 0, 0, 0.2);
  }
  75% {
    border-radius: 43% 67% 58% 42% / 63% 68% 42% 47%;
  }
}

/* .smallDarkCircleFixed{
  z-index: 2;
  width: 200px;
  height: 200px;
  margin: 190px auto;
  background: radial-gradient(circle, #000 3%, #59005d 100%);
  margin: 145px auto;
  border-radius: 50%;
  animation: morphingSmall 2s infinite;
  left: 125px;
  position: absolute;
  z-index: 5;
  box-shadow: inset 0px 0px 40px rgba(0,0,0,.2), 0 0 90px rgba(0,0,0,.8);
} */

.portfolioHeader h1 {
  font-size: 8vw;
  color: #fff;
  text-align: center;
  font-weight: bold;
  z-index: 20;
  letter-spacing: -4px;
  position: relative;
  top: 340px;
}

.portfolioMain {
  /* padding: 12% 0; */
  padding-top: 12%;
  background: url('../../../assets/Images/wavy-purple1.png') 100% 3% no-repeat,
    url('../../../assets/Images/wavy-purple1.png') center 57% no-repeat;
  background-size: 100%, 100%;
}

.portfolioMainBox {
  padding: 8% 8%;
  width: 60%;
  z-index: 500;
  position: relative;
  background-color: #273040bd;
  box-shadow: 0 0 150px #000000a6;
  margin-top: 0%;
  margin-left: 15%;
}

.portfolioMainBox h2 {
  color: #fff;
  text-align: center;
  font-weight: normal;
  font-size: 4vw;
  letter-spacing: -1px;
}

.portfolioMainBox p {
  color: #fff;
  text-align: center;
  font-weight: 300;
  font-size: 23px;
  line-height: 44px;
  margin-top: 30px;
}

.mainScreenPortfolio img {
  position: absolute;
  top: -30%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.portfolioItemWrapper {
  width: 100%;
  padding: 2rem 0;
  margin: 5rem 0;
  background: url('../../../assets/Images/bubble2-purple.png') 148% 0% no-repeat,
    url('../../../assets/Images/bubble2-purple.png') -43% 6% no-repeat,
    url('../../../assets/Images/bubble2-purple.png') 148% 12% no-repeat,
    url('../../../assets/Images/bubble2-purple.png') -45% 20% no-repeat,
    url('../../../assets/Images/bubble2-purple.png') 145% 33% no-repeat,
    /* url("../../../assets/Images/bubble2-purple.png") -45% 34% no-repeat, */
      url('../../../assets/Images/bubble2-purple.png') -45% 44% no-repeat,
    url('../../../assets/Images/bubble2-purple.png') 151% 60% no-repeat,
    url('../../../assets/Images/bubble2-purple.png') -45% 69% no-repeat,
    url('../../../assets/Images/bubble2-purple.png') 147% 82% no-repeat,
    url('../../../assets/Images/bubble2-purple.png') -38% 89% no-repeat;
}
.portfolioItem {
  display: flex;
  padding: 4rem 15%;
  position: relative;
  margin: 16rem 0;
}

.portfolioItemImageCircle {
  width: 540px;
  height: 540px;
  left: -30px;
  top: -150px;
  margin: 2rem 0;
  position: absolute;
  animation: morphingSmall 5s infinite;
  z-index: 1;
  margin-bottom: -34px;
  border: #273040 solid 2px;
  border-radius: 50%;
  box-shadow: inset 0px 0px 26px rgb(144, 25, 149), 0 0 90px rgba(0, 0, 0, 0.8);
  background: linear-gradient(90deg, #5c0852 0%, #9c1387 100%);
}

@keyframes morphingSmall {
  0% {
    border-radius: 30% 70% 70% 50% / 50% 50% 70% 70% box-shadow 15px 15px 50px
      rgba(0, 0, 0, 0.2);
  }
  25% {
    border-radius: 58% 42% 75% 45% / 76% 46% 54% 44%;
  }
  50% {
    border-radius: 50% 50% 43% 67% / 55% 47% 73% 45% box-shadow -10px -5px 50px
      rgba(0, 0, 0, 0.2);
  }
  75% {
    border-radius: 43% 67% 58% 42% / 63% 68% 42% 47%;
  }
}

.portfolioItemImageSection,
.portfolioItemDesc {
  width: 50%;
  position: relative;
}

.portfolioItemDesc {
  text-align: right;
  margin-top: 5%;
}

.portfolioItemTitle {
  position: relative;
  z-index: 5;
  font-size: 3vw;
  color: #fff;
  letter-spacing: -3px;
  /* top: 111px; */
}

.portfolioItemDesc p {
  margin-top: 10px;
  margin-bottom: 20px;
  color: #ffedfc96;
  font-size: 17px;
  font-weight: 400;
  padding-left: 15%;
}
.portfolioItemDesc a {
  color: #a71994;
  font-weight: 600;
  text-decoration: underline;
  font-size: 23px;
  letter-spacing: -2px;
}

.portfolioItemImage {
  width: 100%;
}

.portfolioItemImage img {
  width: 100%;
  z-index: 10;
  position: relative;
}

.portfolioEduCircle {
  width: 100%;
  position: relative;
  background: url(/static/media/wavy-purple1.b69b3700.png) center no-repeat;
  background-size: 100%;
  height: 650px;
  top: -130px;
}

.portfolioEduCircleWrapper {
  width: 100%;
  height: 650px;
  position: relative;
}

.portfolioDarkCircle {
  background: #273040;
  z-index: 1;
  top: 18%;
  display: inline;
  width: 650px;
  height: 650px;
  border: #191f2a solid 2px;
  border-radius: 50%;
  box-shadow: inset 0px 0px 40px 5px rgba(0, 0, 0, 0.28),
    0 0 110px rgba(0, 0, 0, 0.8);
  /* animation: morphing 3s infinite; */
  overflow: hidden;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
}

@keyframes morphing {
  0% {
    border-radius: 50% 50% 50% 51% / 60% 80% 70% 80% box-shadow 45px 45px 50px
      rgba(0, 0, 0, 0.2);
  }
  25% {
    border-radius: 78% 42% 75% 55% / 56% 66% 54% 54%;
  }
  50% {
    border-radius: 100% 56% 53% 67% / 75% 67% 63% 82% box-shadow -50px -35px
      50px rgba(0, 0, 0, 0.2);
  }
  75% {
    border-radius: 53% 67% 58% 52% / 53% 68% 62% 57%;
  }
}

.portfolioSmallCircle {
  z-index: 10;
  width: 250px;
  height: 250px;
  margin: 190px auto;
  background: linear-gradient(90deg, #5c0852 0%, #9c1387 100%);
  margin: 145px auto;
  border-radius: 50%;
  animation: aboutMe_morphingSmall___nb4j 2s infinite;
  position: relative;
  top: 30px;
  animation: morphingSmall 2s infinite;
}

.portfolioSmallCircleImg {
  position: absolute;
  width: 200px;
  top: 70px;
  left: 50px;
  z-index: 5;
}

.portfolioSmallCircleImg img {
  z-index: 1;
  width: 550px;
}

.portfolioDarkCircle h1 {
  position: absolute;
  top: 40%;
  /* left: 50%; */
  z-index: 15;
  font-size: 6vw;
  color: #fff;
  text-align: center;
  width: 100%;
  letter-spacing: -4px;
}

.fontsColorsSection {
  padding: 6% 4%;
  box-sizing: border-box;
  width: 70%;
  height: 100%;
  z-index: 500;
  position: relative;
  background-color: #273040bd;
  box-shadow: 0 0 150px #000000a6;
  margin-top: 0%;
  margin-left: 18%;
  color: #fff;
  /* margin: 0 auto; */
}

.fontsColorsSection h1 {
  text-align: center;
  position: absolute;
  z-index: 5;
  top: 37px;
  font-size: 3.5vw;
  color: #fff;
  letter-spacing: -3px;
  left: 50%;
  transform: translate(-50%, 0%);
}
.fontsColorsWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
}

.fontsColorsLeft {
  color: white;
  text-align: left;
}
.fontsColorsLeft h5 {
  font-size: 40px;
  padding: 10px;
}

.fontsColorsLeft p {
  font-size: 20px;
  padding: 10px;
  letter-spacing: 9px;
  font-weight: 200;
}

.fontsColorsRight {
  position: relative;
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
  top: 40px;
}

/* .portfolioItemDescFonts{
   text-align: right;
   width: 100%;
}

*/
.fontsColorsWrapper span {
  margin: 20px;
  padding: 10px 16px;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  box-sizing: border-box;
  font-size: 11px;
  text-transform: capitalize;
  font-weight: 500;
  color: #ff7deb;
  background-color: #0c0d0d29;
  border-radius: 70%;
  box-shadow: inset 0px 0px 19px rgba(0, 0, 0, 0.38),
    0 0 20px rgba(0, 0, 0, 0.4);
}

.fontsColorsWrapper span:nth-child(1) {
  background-color: #1acece !important;
}
.fontsColorsWrapper span:nth-child(2) {
  background-color: #331897 !important;
}
.fontsColorsWrapper span:nth-child(3) {
  background-color: #910585 !important;
}
.fontsColorsWrapper span:nth-child(4) {
  background-color: #470526 !important;
}
.fontsColorsWrapper span:nth-child(5) {
  background-color: #ce801a !important;
}
.fontsColorsWrapper span:nth-child(6) {
  background-color: #083333 !important;
}

.portfolioItemMore {
  position: relative;
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
}

.portfolioItemCard {
  width: 340px;
  height: 340px;

  box-shadow: inset 0px 0px 26px rgb(144, 25, 149), 0 0 90px rgba(0, 0, 0, 0.8);
  background: url('../../../assets/Images/xoran.png'),
    linear-gradient(90deg, #5c0852 0%, #9c1387 100%);

  /* opacity: 0.8; */
  transition: background-image 0.5s ease-in-out;
}

.portfolioItemCard:hover {
  border-radius: 10px;
  opacity: 1;
  background: url('../../../assets/Images/xoran.png');
}

.card1 {
  color: white;
}

.websiteTabsWrapper {
  display: flex;
  padding: 1rem 11%;
  position: relative;
  margin: 15rem 0;
  width: 100%;
  box-sizing: border-box;
}

.websiteTabsWrapperTitle {
  position: absolute;
  margin: 0 auto;
  width: 100%;
  text-align: center;
  left: 0;
  top: -15%;
  font-size: 3.5vw;
  color: #fff;
  letter-spacing: -3px;
}

.checkContact {
  background: url('../../../assets//Images/contact-image2.png') 16% 116%
    no-repeat #8f0d93;

  width: 70%;
  margin: 6% auto 10%;
  background-size: 60%;
  box-shadow: 0 0 150px #000000a6, inset 0px 0px 49px 10px rgba(0, 0, 0, 0.25);
  position: relative;
  padding: 14% 0;
  transition: all 1s ease-out;
  left: 3%;
}
.checkContact:hover {
  background-color: #3e0041;
  background-position-x: 216%;
  background-size: 30%;
}

/* .checkContact:hover a {
  color: #3e0041;
  font-size: 6vw;
  text-shadow: 2px 2px 5px #ff5ef1;
} */

.checkContact a {
  color: #fff;
  text-align: center;
  font-weight: normal;
  z-index: 100;
  font-size: 5vw;
  letter-spacing: -4px;
  text-decoration: none;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  letter-spacing: -4px;
  font-weight: bold;
  font-size: 6vw;
  transition: all 0.9s ease-out;
}

/*Laptop view*/
@media screen and (min-width: 1290px) and (max-width: 1490px) {
  .mainScreenPortfolio img {
    width: 60%;
  }

  .portfolioItemWrapper {
    background: url('../../../assets/Images/bubble2-purple.png') 188% 0%
        no-repeat,
      url('../../../assets/Images/bubble2-purple.png') -80% 6% no-repeat,
      url('../../../assets/Images/bubble2-purple.png') 188% 12% no-repeat,
      url('../../../assets/Images/bubble2-purple.png') -80% 20% no-repeat,
      url('../../../assets/Images/bubble2-purple.png') 188% 33% no-repeat,
      /* url("../../../assets/Images/bubble2-purple.png") -45% 34% no-repeat, */
        url('../../../assets/Images/bubble2-purple.png') -80% 44% no-repeat,
      url('../../../assets/Images/bubble2-purple.png') 188% 60% no-repeat,
      url('../../../assets/Images/bubble2-purple.png') -80% 69% no-repeat,
      url('../../../assets/Images/bubble2-purple.png') 188% 82% no-repeat,
      url('../../../assets/Images/bubble2-purple.png') -75% 89% no-repeat;
  }

  .fontsColorsWrapper {
    align-items: center;
    justify-content: center;
  }
  .fontsColorsLeft {
    margin-top: 60px;
    box-sizing: border-box;
    text-align: left;
  }
  .fontsColorsLeft p {
    font-size: 15px;
  }
  .fontsColorsWrapper span {
    height: 60px;
    width: 60px;
  }

  .websiteTabsWrapper {
    margin: 8rem 0;
  }
  .websiteTabsWrapperTitle {
    top: -7%;
  }
}

@media screen and (min-width: 1190px) and (max-width: 1290px) {
  .portfolioItemWrapper {
    background: url('../../../assets/Images/bubble2-purple.png') 208% 0%
        no-repeat,
      url('../../../assets/Images/bubble2-purple.png') -103% 6% no-repeat,
      url('../../../assets/Images/bubble2-purple.png') 208% 12% no-repeat,
      url('../../../assets/Images/bubble2-purple.png') -103% 20% no-repeat,
      url('../../../assets/Images/bubble2-purple.png') 208% 33% no-repeat,
      /* url("../../../assets/Images/bubble2-purple.png") -45% 34% no-repeat, */
        url('../../../assets/Images/bubble2-purple.png') -103% 44% no-repeat,
      url('../../../assets/Images/bubble2-purple.png') 208% 60% no-repeat,
      url('../../../assets/Images/bubble2-purple.png') -103% 69% no-repeat,
      url('../../../assets/Images/bubble2-purple.png') 208% 82% no-repeat,
      url('../../../assets/Images/bubble2-purple.png') -103% 89% no-repeat;
  }
  .fontsColorsWrapper {
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
  }
  .fontsColorsLeft {
    margin-top: 60px;
    box-sizing: border-box;
    text-align: left;
  }
  .fontsColorsLeft p {
    font-size: 15px;
  }
  .fontsColorsWrapper span {
    height: 60px;
    width: 60px;
  }
  .portfolioItemImageCircle {
    width: 420px;
    height: 420px;
    left: -30px;
    top: -120px;
  }
  .mainScreenPortfolio img {
    width: 55%;
    top: -25%;
  }
}

/*Mobile*/

@media only screen and (max-width: 770px) {
  .handImg img {
    width: 160%;
    position: absolute;
    right: 28%;
  }

  .portfolioHeader h1 {
    font-size: 15vw;
    color: #fff;
    text-align: center;
    font-weight: bold;
    z-index: 20;
    letter-spacing: -3px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
  }

  .smallDarkCircle {
    width: 350px;
    height: 350px;
    left: 155px;
  }

  .mainScreenPortfolio img {
    position: relative;
    top: 0%;
    left: 0%;
    transform: none;
    width: 100%;
  }

  .portfolioMainBox {
    padding: 1rem;
    box-sizing: border-box;
    width: 100%;
    margin-left: 0;
  }

  .portfolioMainBox h2 {
    font-size: 11vw;
  }

  .portfolioMainBox p {
    padding: 0 1rem;
    font-size: 18px;
    line-height: 34px;
    font-weight: 400;
  }

  .portfolioItemWrapper {
    /* background: url("../../../assets/Images/bubble2-purple.png") 195% 0% no-repeat,
      url("../../../assets/Images/bubble2-purple.png") -82% 6% no-repeat,
      url("../../../assets/Images/bubble2-purple.png") 195% 12% no-repeat,
      url("../../../assets/Images/bubble2-purple.png") -82% 20% no-repeat,
      url("../../../assets/Images/bubble2-purple.png") 195% 33% no-repeat,
     
        url("../../../assets/Images/bubble2-purple.png") -82% 44% no-repeat,
      url("../../../assets/Images/bubble2-purple.png") 195% 60% no-repeat,
      url("../../../assets/Images/bubble2-purple.png") -82% 69% no-repeat,
      url("../../../assets/Images/bubble2-purple.png") 195% 82% no-repeat,
      url("../../../assets/Images/bubble2-purple.png") -82% 89% no-repeat;
  } */
    background: none;
  }

  .portfolioItem {
    flex-direction: column !important;
    padding: 10px;
    box-sizing: border-box;
    margin: 10rem 0;
  }

  .portfolioItemImageSection,
  .portfolioItemDesc {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .portfolioItemTitle {
    font-size: 8vw;
    color: #fff;
    text-align: center;
    letter-spacing: -1px;
    padding: 0 5px;
  }

  .portfolioItemDesc p {
    text-align: justify !important;
    padding: 10px;
    padding-left: 0 !important;
    padding-right: 0 !important;
    width: 90%;
    margin: 10px auto;
    font-weight: 400;
    line-height: 30px;
    color: #96a2b1;
  }
  .portfolioItemImageCircle {
    width: 330px;
    height: 330px;
    left: 50% !important;
    right: 0 !important;
    top: -290px;
    transform: translate(-50%, 50%);
  }

  .portfolioDarkCircle h1 {
    position: absolute;
    top: 40%;
    right: 10%;
    z-index: 15;
    font-size: 13vw;
    color: #fff;
    text-align: center;
    width: 100%;
  }

  .fontsColorsSection {
    margin-left: 0;
    padding: 0;
    width: 100%;
    height: auto;
  }
  .fontsColorsSection h1 {
    font-size: 9vw;
    color: #fff;
    text-align: center;
    letter-spacing: -1px;
    padding: 0 5px;
    width: 100%;
    position: relative;
    margin-bottom: 30px;
  }

  .fontsColorsLeft {
    color: white;
    text-align: center;
    width: 100%;
    word-break: break-all;
    padding: 0 15px;
    margin: 25px 0;
  }

  .fontsColorsLeft h5 {
    font-size: 23px;
    padding: 10px;
    font-weight: 200;
  }

  .fontsColorsLeft p {
    font-size: 12px;
    padding: 10px;
    letter-spacing: 4px;
    font-weight: 200;
  }

  .fontsColorsWrapper span {
    height: 80px;
    width: 80px;
  }

  .fontsColorsRight {
    position: relative;
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
    top: 0;
    margin: 0 auto;
    margin-bottom: 30px;
  }

  .websiteTabsWrapperTitle {
    font-size: 10.5vw;
    letter-spacing: -2px;
    top: -25%;
  }

  .websiteTabsWrapper {
    padding: 0rem 10px;
    flex-direction: column;
  }
  .checkContact {
    background: url('../../../assets//Images/contact-image2.png') 16% 92%
      no-repeat #8f0d93;
    width: 100%;
    padding: 33% 0;
    background-size: 80%;
    margin-top: 18%;
    left: 0;
    margin: 0;
    margin-bottom: 20%;
  }
  .checkContact a {
    letter-spacing: -1px;
    font-weight: bold;
    font-size: 13vw;
  }
  .portfolioItemWrapper {
    margin-bottom: 0;
    padding-bottom: 0;
  }
}
