.portfolio{
   background: url("../../../assets/Images/line.png") top center repeat-y #273040;
   /* height: 100vh; */
   overflow: hidden;
}

.portfolioHeader{
   width: 100%;
   height: 100vh;
   text-align: center;
   margin: 0 auto;
   background: url("../../../assets/Images/lineAbout.png") top center repeat-y
     #901995;
   /* background-size: 70%; */
   position: relative;
   margin-bottom: 20%;
}

.handImg {
   position: absolute;
   top: 50%;
   right: -120px;
   margin-top: -9%;
   width: 60%;
   z-index: 6;
 }

 .headerTitle {
   margin-left: -325px;
   margin-top: -325px;
   width: 650px;
   height: 650px;
   position: absolute;
   top: 50%;
   left: 50%;
 }


 .splatterImg {
   position: absolute;
   width: 95%;
   top: 0%;
   left: 0%;
 }

 .smallDarkCircle {
   z-index: 2;
   width: 400px;
   height: 400px;
   margin: 190px auto;
   background: radial-gradient(circle, #000 3%, #59005d 100%);
   margin: 145px auto;
   border-radius: 50%;
   animation: morphingSmall 2s infinite;
   left: 125px;
   position: absolute;
   z-index: 5;
 }
 
 @keyframes morphingSmall {
   0% {
     border-radius: 30% 70% 70% 50% / 50% 50% 70% 70% box-shadow 15px 15px 50px
       rgba(0, 0, 0, 0.2);
   }
   25% {
     border-radius: 58% 42% 75% 45% / 76% 46% 54% 44%;
   }
   50% {
     border-radius: 50% 50% 43% 67% / 55% 47% 73% 45% box-shadow -10px -5px 50px
       rgba(0, 0, 0, 0.2);
   }
   75% {
     border-radius: 43% 67% 58% 42% / 63% 68% 42% 47%;
   }
 }


 .portfolioHeader h1 {
   font-size: 8vw;
   color: #fff;
   text-align: center;
   font-weight: bold;
   z-index: 20;
   letter-spacing: -4px;
   position: relative;
   top: 340px;
 }


 .portfolioMain{
   padding: 12% 0;
   background: url("../../../assets/Images/wavy-purple1.png") center 19%
     no-repeat,
     url("../../../assets/Images/wavy-purple1.png") center 57%
     no-repeat;
   background-size: 100%, 100%;
 }


 .portfolioMainBox {
   padding: 8% 8%;
   width: 60%;
   z-index: 500;
   position: relative;
   background-color: #273040bd;
   box-shadow: 0 0 150px #000000a6;
   margin-top: 0%;
   margin-left: 15%;
 }
 
 .portfolioMainBox h2 {
   color: #fff;
   text-align: center;
   font-weight: normal;
   font-size: 4vw;
   letter-spacing: -1px;
 }
 
 .portfolioMainBox p {
   color: #fff;
   text-align: center;
   font-weight: 300;
   font-size: 23px;
   line-height: 44px;
   margin-top: 30px;
 }

 .mainScreenPortfolio img{
   position: absolute;
   top: -30%;
   left: 50%;
   transform: translate(-50% , -50%);
 }

 .portfolioItemWrapper{
   width: 100%;
   padding: 2rem 0;
   margin: 5rem 0;
   background: url("../../../assets/Images/bubble2-purple.png") 148% 33%
      no-repeat,
    url("../../../assets/Images/bubble2-purple.png") -47% 63% no-repeat,
    url("../../../assets/Images/bubble2-purple.png") 148% 85% no-repeat,
    url("../../../assets/Images/bubble2-purple.png") -45% 103% no-repeat;
 }
 .portfolioItem{
    display: flex;
    padding: 4rem 15%;
    position: relative;
    margin: 16rem 0;
 }

 .portfolioItemImageCircle{
  width: 540px;
  height: 540px;
  left: -30px;
  top: -150px;
  margin: 2rem 0;
  position: absolute;
  animation: morphingSmall 5s infinite;
  z-index: 1;
  margin-bottom: -34px;
  border: #273040 solid 2px;
  border-radius: 50%;
  box-shadow: inset 0px 0px 26px rgb(144, 25, 149), 0 0 90px rgba(0, 0, 0, 0.8);
  background: linear-gradient(90deg, #5c0852 0%, #9c1387 100%);
 }
 
 @keyframes morphingSmall {
   0% {
     border-radius: 30% 70% 70% 50% / 50% 50% 70% 70% box-shadow 15px 15px 50px
       rgba(0, 0, 0, 0.2);
   }
   25% {
     border-radius: 58% 42% 75% 45% / 76% 46% 54% 44%;
   }
   50% {
     border-radius: 50% 50% 43% 67% / 55% 47% 73% 45% box-shadow -10px -5px 50px
       rgba(0, 0, 0, 0.2);
   }
   75% {
     border-radius: 43% 67% 58% 42% / 63% 68% 42% 47%;
   }
 }

 .portfolioItemImageSection,
 .portfolioItemDesc{
   width: 50%;
   position: relative;
   
 }

 
 .portfolioItemDesc{
    text-align: right;
    margin-top: 5%;
 }



 .portfolioItemTitle{
   position: relative;
   z-index: 5;
   font-size: 3vw;
   color: #fff;
   letter-spacing: -3px;
   /* top: 111px; */
 }

 .portfolioItemDesc p{
   margin-top: 10px;
   margin-bottom: 20px;
   color: #ffedfc96;
   font-size: 17px;
   font-weight: 400;
   padding-left: 15%;
}
.portfolioItemDesc a{
  color: #a71994;
  font-weight: 600;
  text-decoration: underline;
  font-size: 23px;
  letter-spacing: -2px;
}

.portfolioItemImage{
  width:100%
}

.portfolioItemImage img{
  width:100%;
  z-index:10;
  position: relative;
}





.portfolioEduCircle{
  width: 100%;
  position: relative;
  background: url(/static/media/wavy-purple1.b69b3700.png) center no-repeat;
  background-size: 100%;
  height: 650px;
}


.portfolioEduCircleWrapper {
  width: 100%;
  height: 650px;
  position: relative;
}

.portfolioDarkCircle{
  background: #273040;
  z-index: 1;
  top: 18%;
  display: inline;
  width: 650px;
  height: 650px;
  border: #191f2a solid 2px;
  border-radius: 50%;
  box-shadow: inset 0px 0px 40px 5px rgba(0, 0, 0, 0.28), 0 0 110px rgba(0, 0, 0, 0.8);
  animation: morphing 3s infinite;
  overflow: hidden;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
}

@keyframes morphing {
  0% {
    border-radius: 50% 50% 50% 51% / 60% 80% 70% 80% box-shadow 45px 45px 50px
      rgba(0, 0, 0, 0.2);
  }
  25% {
    border-radius: 78% 42% 75% 55% / 56% 66% 54% 54%;
  }
  50% {
    border-radius: 100% 56% 53% 67% / 75% 67% 63% 82% box-shadow -50px -35px 50px
      rgba(0, 0, 0, 0.2);
  }
  75% {
    border-radius: 53% 67% 58% 52% / 53% 68% 62% 57%;
  }
}




.portfolioSmallCircle{
  z-index: 10;
  width: 250px;
  height: 250px;
  margin: 190px auto;
  background: linear-gradient(90deg, #5c0852 0%, #9c1387 100%);
  margin: 145px auto;
  border-radius: 50%;
  animation: aboutMe_morphingSmall___nb4j 2s infinite;
  position: relative;
  top: 30px;
  animation: morphingSmall 2s infinite;
}

.portfolioSmallCircleImg{
  position: absolute;
  width: 200px;
  top: 70px;
  left: 50px;
  z-index: 5;
}


.portfolioSmallCircleImg img{
  z-index: 1;
  width: 550px;
}


.portfolioDarkCircle h1{
  position: absolute;
    top: 40%;
    /* left: 50%; */
    z-index: 15;
    font-size: 6vw;
    color: #fff;
    text-align: center;
    width: 100%;
    letter-spacing: -4px;
}


.fontsColorsSection{
  padding: 8% 4%;
  box-sizing: border-box;
  width: 70%;
  height: 100%;
  z-index: 500;
  position: relative;
  background-color: #273040bd;
  box-shadow: 0 0 150px #000000a6;
  margin-top: 0%;
  margin-left: 18%;
  color: #fff;
  /* margin: 0 auto; */
}

.fontsColorsSection h1{
  text-align: center;
  position: absolute;
  z-index: 5;
  top: 32px;
  font-size: 3.5vw;
  color: #fff;
  letter-spacing: -3px;
  left: 50%;
  transform: translate(-50%, 0%);
}
.fontsColorsWrapper{
  display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.fontsColorsLeft{
  color:white;
  text-align: left;

}
.fontsColorsLeft h5{
font-size: 40px;
padding:10px
}

.fontsColorsLeft p{
  font-size: 20px;
  padding: 10px;
  letter-spacing: 9px;
  font-weight: 200;
  }

  .fontsColorsRight{
    position: relative;
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
    top: 40px;
  }

/* .portfolioItemDescFonts{
   text-align: right;
   width: 100%;
}

*/
.fontsColorsWrapper span{
  margin: 20px;
  padding: 10px 16px;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  box-sizing: border-box;
  font-size: 11px;
  text-transform: capitalize;
  font-weight: 500;
  color: #ff7deb;
  background-color: #0c0d0d29;
  border-radius: 70%;
  box-shadow: inset 0px 0px 19px rgba(0, 0, 0, 0.38), 0 0 20px rgba(0, 0, 0, 0.4);
}


.fontsColorsWrapper span:nth-child(1){
   background-color: #1acece !important;
}
.fontsColorsWrapper span:nth-child(2){
   background-color: #331897 !important;
}
.fontsColorsWrapper span:nth-child(3){
   background-color: #910585 !important;
}
.fontsColorsWrapper span:nth-child(4){
   background-color: #470526 !important;
}
.fontsColorsWrapper span:nth-child(5){
   background-color: #ce801a !important;
}
.fontsColorsWrapper span:nth-child(6){
   background-color: #083333 !important;
} 


.portfolioItemMore{
  position: relative;
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
}


.portfolioItemCard{
  width: 340px;
  height: 340px;

  box-shadow: inset 0px 0px 26px rgb(144, 25, 149), 0 0 90px rgba(0, 0, 0, 0.8);
  background: url('../../../assets/Images/xoran.png'),linear-gradient(90deg, #5c0852 0%, #9c1387 100%);
   
    /* opacity: 0.8; */
    transition: background-image 0.5s ease-in-out;
}

.portfolioItemCard:hover{
  border-radius: 10px;
  opacity: 1;
  background: url('../../../assets/Images/xoran.png');
}

.card1{
  color:white
}

.websiteTabsWrapper{
  display: flex;
    padding: 1rem 11%;
    position: relative;
    margin: 7rem 0;
    width: 100%;
    box-sizing: border-box;
}