.portfolioItem {
  display: flex;
  padding: 4rem 15%;
  position: relative;
  margin: 16rem 0;
}

.portfolioItemImageCircle {
  width: 440px;
  height: 440px;
  left: -30px;
  top: -90px;
  margin: 2rem 0;
  position: absolute;
  /* animation: pulse 5s infinite; */
  z-index: 1;
  margin-bottom: -34px;
  border: #273040 solid 2px;
  border-radius: 50%;
  transform: translateZ(0);
  box-shadow: inset 0px 0px 26px rgb(144, 25, 149), 0 0 90px rgba(0, 0, 0, 0.8);
  background: linear-gradient(90deg, #5c0852 0%, #9c1387 100%);
}

@keyframes pulse {
  0% {
    border-radius: 30% 70% 70% 50% rgba(0, 0, 0, 0.2);
  }
  25% {
    border-radius: 58% 42% 75% 45% / 76% 46% 54% 44%;
  }
}

.portfolioItemImageSection,
.portfolioItemDesc {
  width: 50%;
  position: relative;
}

.portfolioItemDesc {
  text-align: right;
  margin-top: 5%;
}

.portfolioItemTitle {
  position: relative;
  z-index: 5;
  font-size: 3vw;
  color: #fff;
  letter-spacing: -3px;
  /* top: 111px; */
}

.portfolioItemDesc p {
  margin-top: 10px;
  margin-bottom: 20px;
  color: #ffedfc96;
  font-size: 17px;
  font-weight: 400;
  padding-left: 15%;
}
.portfolioItemDesc a {
  color: #a71994;
  font-weight: 600;
  text-decoration: underline;
  font-size: 23px;
  letter-spacing: -2px;
  cursor: pointer;
  transition: 0.15s all;
}
.portfolioItemDesc a:hover {
  color: #7f0f70;
}

.portfolioItemImage {
  width: 100%;
}

.portfolioItemImage img {
  width: 100%;
  z-index: 10;
  position: relative;
}

@media screen and (min-width: 800px) and (max-width: 1490px) {
  .fontsColorsSection {
    width: 80%;
    margin-left: 14%;
  }
  .fontsColorsWrapper span {
    height: 55px;
    width: 55px;
  }
}

@media only screen and (max-width: 770px) {
  .portfolioItem {
    flex-direction: column !important;
    padding: 10px;
    box-sizing: border-box;
    margin: 10rem 0;
  }

  .portfolioItemImageSection,
  .portfolioItemDesc {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .portfolioItemTitle {
    font-size: 8vw;
    color: #fff;
    text-align: center;
    letter-spacing: -1px;
    padding: 0 5px;
  }

  .portfolioItemDesc p {
    text-align: justify !important;
    padding: 10px;
    padding-left: 0 !important;
    padding-right: 0 !important;
    width: 90%;
    margin: 10px auto;
    font-weight: 400;
    line-height: 30px;
    color: #96a2b1;
  }
  .portfolioItemImageCircle {
    width: 250px;
    height: 250px;
    left: 50% !important;
    right: 0 !important;
    top: -100%;
    transform: translate(-50%, 50%);
  }
}
