.contactFormInfo {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.contactFormLeft,
.contactFormRight {
  width: 49%;
}
.contactFormLeft h6,
.contactFormRight h6 {
  position: absolute;
  color: #dd1515;
  font-size: 12px;
  font-weight: 600;
  padding: 0 5px;
}

.contactFormLeft h3,
.contactFormRight h3,
.contactFormMsg h3 {
  font-size: 20px;
  margin-top: 30px;
  color: #fff;
  text-align: left;
  font-weight: 500;
  letter-spacing: -1px;
}

input[type='name'],
input[type='email'] {
  padding: 25px 25px;
  margin: 8px 0;
  font-size: 18px;
  width: 100%;
  display: inline-block;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: #0e131c;
  border: none;
  color: #fff;
  font-weight: normal;
  font-family: 'Poppins', sans-serif;
}

input[type='name']::placeholder,
input[type='email']::placeholder,
.contactFormTextArea::placeholder {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  letter-spacing: -1px;
  font-weight: 500;
  color: #3b485ebd;
}

input[type='name']::focus,
input[type='email']::focus,
.contactFormTextArea::focus {
  outline: 1px solid #cc2bd1;
  outline-style: auto;
  background-color: rebeccapurple;
}
input:focus {
  outline: 1px solid #cc2bd1 !important;
  outline-style: auto !important;
}

textarea:focus {
  outline: 1px solid #cc2bd1;
  outline-style: auto;
}
.contactFormMsg {
  width: 100%;
}

.contactFormTextArea {
  padding: 25px 25px;
  width: 100%;
  margin: 8px 0;
  min-height: 15vh;
  font-size: 18px;
  display: inline-block;
  border-radius: 4px;
  background-color: #0e131c;
  box-sizing: border-box;
  border: none;
  color: #fff;
  font-weight: normal;
  font-family: inherit;
  font-size: inherit;
}

input[type='submit'] {
  margin: 20px 0;
  text-align: left;
  color: #99109e;
  font-weight: 600;
  text-decoration: underline;
  font-size: 21px;
  letter-spacing: -1px;
  background-color: #0000;
  border: none;
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
  transition: 0.2s all;
}
input[type='submit']:hover {
  color: #730a76;
  transform: translateY(-2px);
}

.sentFormText {
  font-size: 20px;
  margin-top: 30px;
  color: #fff;
  text-align: left;
  font-weight: 500;
  letter-spacing: -1px;
  transition: 0.5s ease-in;
}
@media only screen and (max-width: 770px) {
  .contactFormInfo {
    flex-direction: column;
  }
  .contactFormLeft,
  .contactFormRight {
    width: 100%;
  }
}
