.btnRow {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  margin: 0rem;
  margin-top: 4rem;
}
.btnRow a {
  font-weight: 400;
  font-size: 17px;
  padding: 1.3rem 4rem;
  background-color: #0000;
  text-shadow: 0px 0px 0px rgba(0, 0, 0, 0.3);
  border-radius: 50px;
  color: #fff;
  background: linear-gradient(90deg, #5c0852 0%, #9c1387 100%);
  box-shadow: 0 7px 60px rgba(0, 0, 0, 0.51);
  cursor: pointer;
  transition: 0.3s all ease;
  text-decoration: none;
}
.btnRow a:hover {
  opacity: 0.9;
  box-shadow: 0 15px 60px 0px rgba(0, 0, 0, 0.77);
  transform: translateY(-5px);
}

/*Mobile*/
@media only screen and (max-width: 770px) {
  .btnRow a {
    padding: 20px 30px;
  }
}
